{% extends "layout.html" %}
{% block title %} Admin Manage Site {% endblock %}
{% block header %} <h4>Admin Manage Site</h4> {% endblock %}
{% block content %}
<div>
    <form action="/admin_manage_site_filter_buttonClick" method="post">
        <p><h5>Site</h5>
        <select name="site">
          <option value="ALL">ALL</option>
          {% for site in sites %}
              <option value= "{{site.SiteName}}">{{site.SiteName}}</option>"
          {% endfor %}
        </select>
        <p><h5>Manager</h5>
        <select name="manager">
          <option value="ALL">ALL</option>
          {% for man in mans %}
              <option value= "{{man.Manager}}">{{man.Manager}}</option>"
          {% endfor %}
        </select>
        <p><h5>Open Everyday</h5>
        <select name="open_everyday">
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>
        <input type ="submit" name="action" value="Filter">
        <input type ="submit" name="action" value="Filter by Ascending Name">
          <input type ="submit" name="action" value="Filter by Descending Name">
          <input type ="submit" name="action" value="Filter by Ascending Manager">
          <input type ="submit" name="action" value="Filter by Descending Manager">
          <input type ="submit" name="action" value="Filter by Ascending Open Everyday">
          <input type ="submit" name="action" value="Filter by Descending Open Everyday"">
    </form>
</div>
<div>
  <p>
    <p>
      <p>
      </p>
    </p>
  </p>
</div>
</form>
<form action="/admin_manage_site_buttonClick" method="post">
   <select name="selected_site" method="GET" action="/">
        {% for item in data %}
          <option value = "{{item.SiteName}},{{item.Manager}},{{item.OpenEveryday}}">Site Name: {{item.SiteName}}, Manager: {{item.Manager}}, Open Everyday: {{item.OpenEveryday}}</option>
      {% endfor %}
       </select>
  <div class="panel-body">
          <input type ="submit" name="action" value="Create">
      </div>
      <div class="panel-body">
          <input type ="submit" name="action" value="Edit">
      </div>
      <div class="panel-body">
          <input type ="submit" name="action" value="Delete">
      </div>
</form>
<div>
    <a href="{{ url_for('go_to_user_type_functionality') }}">Back</a>
</div>
{% endblock %}