{% extends "layout.html" %}
{% block title %} Administrator Manage Transit {% endblock %}
{% block header %} <h4>Administrator Manage Transit</h4> {% endblock %}
{% block content %}
<div>
    <form action="/admin_manage_transit_filterClick" method="post">
        <label>Transport Type</label>
      <select name="transit_type">
        <option value="ALL">ALL</option>
        <option value="MARTA">MARTA</option>
        <option value="Bus">Bus</option>
        <option value="Bike">Bike</option>
      </select>
      <label>Contain Site</label>
      <select name="contain_site">
        <option value="ALL">ALL</option>
        {% for site in sites %}
              <option value= "{{site.SiteName}}">{{site.SiteName}}</option>"
          {% endfor %}
      </select>
      <p></p>
      <label>Route:</label><input type="text" name="route">
      <p><label>Price Range:</label><input type="number" name="lower">
        <label>--</label><input type="number" name="upper"></p>
      <p> <input type ="submit" name="action" value="Filter">
          <input type ="submit" name="action" value="Filter by Ascending Transport Type">
          <input type ="submit" name="action" value="Filter by Descending Transport Type">
          <input type ="submit" name="action" value="Filter by Ascending Price">
          <input type ="submit" name="action" value="Filter by Descending Price">
      </p>
    </form>
</div>
<div>
  <p>
    <p>
      <p>
      </p>
    </p>
  </p>
</div>
</form>
<form action="/admin_manage_transit_create_edit_delete" method="post">
  <select name="selected_transit" method="GET" action="/">
        {% for item in data %}
          <option value = "{{item.TransitRoute}},{{item.TransitType}},{{item.TransitPrice}},{{item.NumSites}}, {{item.NumTaken}} ">Route: {{item.TransitRoute}} Transit Type: {{item.TransitType}} Price: {{item.TransitPrice}} Number of Connected Sites: {{item.NumSites}} Number of Transits Logged: {{item.NumTaken}}</option>
      {% endfor %}
       </select>
  <div class="panel-body">
          <input type ="submit" name="action" value="Create">
      </div>
      <div class="panel-body">
          <input type ="submit" name="action" value="Edit">
      </div>
      <div class="panel-body">
          <input type ="submit" name="action" value="Delete">
      </div>
  </form>
<div>
    <a href="{{ url_for('go_to_user_type_functionality') }}">Back</a>
</div>
{% endblock %}