{% extends "layout.html" %}
{% block title %} Atlanta Beltine Login {% endblock %}
{% block header %} <h4>Atlanta Beltine Login</h4> {% endblock %}
{% block content %}
<div>
    <form action="/login" method="post">
        <label>Email:</label><input type="text" name="email">
        <p><label>Password:</label><input type="password" name="password">
        <input class="btn btn-default" type="submit" value="Login">
    </form>
    <a href="{{ url_for('registernavigation') }}">Register</a>
</div>
{% endblock %}