{% extends "layout.html" %}
{% block title %} Manage Profile {% endblock %}
{% block header %} <h4>Manage Profile</h4> {% endblock %}
{% block content %}
<div>
    <form action="/update_profile" method="post">
        <p><label>Current First Name:</label><label>{{data[0]}}</label></p>
        <label>Update First Name:</label><input type="text" name="first_name">
         <p><label>Current Last Name:</label><label>{{data[1]}}</label></p>
        <label>Update Last Name:</label><input type="text" name="last_name">
        <p><label>Username:</label><label>{{data[2]}}</label></p>
        <p><label>Site Name:</label><label>{{data[4]}}</label></p>
        <p><label>Employee ID:</label><label>{{data[5]}}</label></p>
        <p><label>Phone:</label><label>{{data[3]}}</label></p>
        <label>Update Phone:</label><input type="text" name="phone"></p>
        <p><label>Site Name:</label><label>{{data[6]}}</label></p>
        <p><select name="email_to_delete" method="GET" action="/">
            <option value = "none"> do not delete any emails</option>
            {% for email in emails %}
              <option value = "{{email['Email']}}">delete {{email['Email']}}</option>
            {% endfor %}
           </select></p>
        <label>Add Email:</label><input type="text" name="new_email"></p>
        <input type="checkbox" name="isVisitor" value="isVisitor">Visitor<br>
        <input class="btn btn-default" type="submit" value="Update">
    </form>
</div>

<div>
    <a href="{{ url_for('go_to_user_type_functionality') }}">Back</a>
</div>
{% endblock %}