{% extends "layout.html" %}
{% block title %} Visitor Registration {% endblock %}
{% block header %} <h4>Visitor Registration</h4> {% endblock %}
{% block content %}
<div>
    <form action="/" method="post">
        <label>First Name:</label><input type="text" name="first_name">
        <p><label>Last Name:</label><input type="text" name="last_name">
        <p><label>Username:</label><input type="text" name="username">
        <p><label>Password:</label><input type="password" name="password">
        <p><label>Confirm Password:</label><input type="password" name="confirmPassword">
        <p><input class="btn btn-default" type="submit" value="Register">
    </form>
</div>

<div>
    <a href="{{ url_for('back_to_home') }}">Back</a>
</div>
{% endblock %}