{% extends "layout.html" %}
{% block title %} Employee Registration {% endblock %}
{% block header %} <h4>Employee Registration</h4> {% endblock %}
{% block content %}
<div>
    <form action="/register_employee_buttonclick" method="post">
        <label>First Name:</label><input type="text" name="first_name">
        <label>Last Name:</label><input type="text" name="last_name">
        <p><label>Username:</label><input type="text" name="username">
        <h5>User Type</h5>
        <select name="User Type">
            <option value="Manager">Manager</option>
            <option value="Staff">Staff</option>
        </select>
        <p><label>Password:</label><input type="password" name="password">
        <label>Confirm Password:</label><input type="password" name="confirm_password"></p>
        <p><label>Phone:</label><input type="number" name="phone">
        <label>Address:</label><input type="text" name="address"></p>
        <p><label>City:</label><input type="text" name="city">
        <h5>State</h5>
        <select name="state">
            <!-- add all other abbreviations later -->
            <option value="GA">GA</option>
            <option value="Other">Other</option>
        </select>
        <p><label>Zipcode:</label><input type="number" name="zipcode"></p>
        <p><label>Email (Enter As Many As Desired, Separated By Commas):</label><input type="text" name="email">
        <p><input class="btn btn-default" type="submit" value="Register">
    </form>
</div>

<div>
    <a href="{{ url_for('registernavigation') }}">Back</a>
</div>
{% endblock %}