{% extends "layout.html" %}
{% block title %} Staff View Schedule {% endblock %}
{% block header %} <h4>Staff View Schedule</h4> {% endblock %}
{% block content %}
<div>
    <form action="/staff_view_schedule_buttonClick" method="post">
      <label>Event Name:</label><input type="text" name="event_name">
      <label>Description Keyword:</label><input type="text" name="description_keyword">
      <p><label>Start Date:</label><input type="date" name="start_date">
      <label>End Date:</label><input type="date" name="end_date"></p>
      <p><input class="btn btn-default" type="submit" value="Filter">

    </form>
</div>
<div>
  <form action="/staff_view_event_buttonClick" method="post">
   <select name="selection" method="GET" action="/">
        {% for item in data %}
          <option value = "{{item['EventName']}},{{item['SiteName']}},{{item['StartDate']}},{{item['EndDate']}},{{item['StaffCount']}}">Event Name: {{item['EventName']}} Site Name: {{item['SiteName']}} Start Date: {{item['StartDate']}} End Date: {{item['EndDate']}} Staff Count: {{item['StaffCount']}}</option>
        </tr>
      {% endfor %}
       </select>
    <input class="btn btn-default" type="submit" value="View Event"></p>
  </form>
</div>
<div>
    <a href="{{ url_for('go_to_user_type_functionality') }}">Back</a>
</div>
{% endblock %}