{% extends "layout.html" %}
{% block title %} Staff Event Detail {% endblock %}
{% block header %} <h4>Staff Event Detail</h4> {% endblock %}
{% block content %}
<div>
    <form action="/" method="post">
      <p><label>Event:</label>
        <label>{{data.0['EventName']}}</label>
      <label>Site:</label>
      <label>{{data.0['SiteName']}}</label>
      <p><label>Start Date:</label>
        <label>{{data.0['StartDate']}}</label></p>
      <p><label>End Date:</label>
        <label>{{data.0['EndDate']}}</label></p>
      <p><label>Duration Days:</label>
      <label>{{data.0['Duration']}}</label></p>
      <p><label>Staffs Assigned:</label>

      <p><label>Capacity:</label>
      <label>{{data.0['Capacity']}}</label></p>
      <p><label>Price:</label></p>
      <label>{{data.0['EventPrice']}}</label></p>
      <p><label>Description:</label>
        <label>{{data.0['Description']}}</label></p></p>

    </form>
</div>
<div>
    <a href="{{ url_for('staff_view_schedule') }}">Back</a>
</div>
{% endblock %}