{% extends "layout.html" %}
{% block title %} Take Transit {% endblock %}
{% block header %} <h4>Take Transit</h4> {% endblock %}
{% block content %}
    <form action="/filter_transit_buttonClick" method="post">
        <h5>Contain Site</h5>
        <select name="contain_site" method="GET" action="/">
          <option value="ALL">ALL</option>
          {% for site in sites %}
              <option value= "{{site.SiteName}}">{{site.SiteName}}</option>"
          {% endfor %}
        </select>
        <p><h5>Transport Type</h5>
        <select name="transport_type">
          <option value="ALL">ALL</option>
          <option value="MARTA">MARTA</option>
          <option value="Bus">Bus</option>
          <option value="Bike">Bike</option>
        </select>
        <p><label>Price Range:</label><input type="number" name="lower">
        <label>--</label><input type="number" name="upper"></p>
         <p><input class="btn btn-default" type="submit" value="Filter">
    </form>

    <form action="/log_transit_buttonClick" method="post">
      <table style="width:100%">
      <tr>
        <th>Route</th>
        <th>Transit Type</th>
        <th>Price</th>
        <th># Connected Sites</th>
      </tr>
       <select name="selected_transit" method="GET" action="/">
        {% for item in data %}
          <option value = "{{item['TransitRoute']}},{{item['TransitType']}},{{item['TransitPrice']}},{{item['# Connected Sites']}}">Route: {{item['TransitRoute']}} Type:{{item['TransitType']}} Price: {{item['TransitPrice']}} Connected Sites: {{item['# Connected Sites']}}</option>
        </tr>
      {% endfor %}
       </select>
        <label>Transit Date</label><input type="date" name="transit_date"></p>
        <p><input class="btn btn-default" type="submit" value="Log Transit">
    </form>

<div>
    <a href="{{ url_for('go_to_user_functionality') }}">Back</a>
</div>




{% endblock %}