{% extends "layout.html" %}
{% block title %} View Transit History {% endblock %}
{% block header %} <h4>View Transit History </h4> {% endblock %}
{% block content %}
    <form action="/" method="post">
      <label>Transport Type</label>
      <select name="transport_type">
        <option value="ALL">ALL</option>
        <option value="MARTA">MARTA</option>
        <option value="Bus">Bus</option>
        <option value="Bike">Bike</option>
      </select>
      <label>Contain Site</label>
      <select name="sites">
        {% for site in sites %}
              <option value= "{{site.SName}}" SELECTED>{{site.Sname}}</option>"
          {% endfor %}
      </select>
      <p></p>
      <label>Route:</label><input type="number" name="route">
      <label>Start Date:</label><input type="date" name="start_date">
      <label>End Date:</label><input type="date" name="end_date">
      <p><input class="btn btn-default" type="submit" value="Filter">
    </form>

    </form>
    <table style="width:100%">
      <tr>
        <th>Route</th>
        <th>Transit Type</th>
        <th>Price</th>
        <th># Connected Sites</th>
      </tr>
    </table>

<div>
    <a href="{{ url_for('go_to_user_functionality') }}">Back</a>
</div>

{% endblock %}