{% extends "layout.html" %}
{% block title %} View Transit History {% endblock %}
{% block header %} <h4>View Transit History </h4> {% endblock %}
{% block content %}
    <form action="/filter_transit_history_buttonClick" method="post">
      <label>Transport Type</label>
      <select name="transport_type">
        <option value="ALL">ALL</option>
        <option value="MARTA">MARTA</option>
        <option value="Bus">Bus</option>
        <option value="Bike">Bike</option>
      </select>
      <label>Contain Site</label>
      <select name="contain_site">
        <option value="ALL">ALL</option>
        {% for site in sites %}
              <option value= "{{site.SiteName}}" SELECTED>{{site.SiteName}}</option>"
          {% endfor %}
      </select>
      <p></p>
      <label>Route:</label><input type="text" name="route">
      <label>Start Date:</label><input type="date" name="start_date">
      <label>End Date:</label><input type="date" name="end_date">
      <p><input class="btn btn-default" type="submit" value="Filter">
    </form>

    </form>
   <ul>
       <table style="width:100%">
       <tr>
           <th>Date</th>
          <th>Route</th>
          <th>Transit Type</th>
          <th>Price</th>
       </tr>
      {% for item in data %}
      <tr>
          <td>{{item.TransitDate}}</td>
          <td>{{item.TransitRoute}}</td>
          <td>{{item.TransitType}}</td>
          <td>{{item.TransitPrice}}</td>
       </tr>
      {% endfor %}
      </table>
  </ul>

<div>
    <a href="{{ url_for('go_to_user_functionality') }}">Back</a>
</div>

{% endblock %}