{% extends "layout.html" %}
{% block title %} Visitor Explore Event {% endblock %}
{% block header %} <h4>Visitor Explore Event </h4> {% endblock %}
{% block content %}
<div>
    <form action="/visitor_explore_event_buttonClick" method="post">
      <p><label>Name:</label><input type="text" name="name">
      <label>Description Keyword:</label><input type="text" name="description_keyword"></p>
      <label>Site Name</label>
      <select name="site_name">
        <option value="ALL">ALL</option>

      </select>
      <p><label>Start Date:</label><input type="date" name="start_date">
      <label>End Date:</label><input type="date" name="end_date"></p>
      <p><label>Total Visit Range:</label><input type="number" name="visits_lower">
      <label>--</label><input type="number" name="visits_upper"></p>
        <label>Transport Type</label>
      <p><label>Ticket Price Range:</label><input type="number" name="revenue_lower">
        <label>--</label><input type="number" name="revenue_upper"></p>
      <input type="checkbox" name="include_visited" value="include_visited">Include Visited<br>
      <input type="checkbox" name="include_sold_out" value="include_sold_out">Include Sold Out Event<br>
      <p><input class="btn btn-default" type="submit" value="Filter">
      </p>
    </form>
</div>
<form action="/staff_view_schedule_buttonClick" method="post">
  <select name="selected_event" method="GET" action="/">
        {% for item in data %}
          <option value = "{{item['EventName']}},{{item['SiteName']}},{{item['EventPrice']}}, {{item['Tickets Remaining']}}, {{item['Total Remaining']}},{{item['Total Visits']}}, {{item['My Visits']}}">Event Name: {{item['EventName']}} Site Name: {{item['SiteName']}} Ticket Price: {{item['EventPrice']}} Tickets Remaining: {{item['TicketsRemaining']}} Total Remaining: {{item['Total Remaining']}} Total Visits: {{item['TotalVisits']}} My Visits: {{item['My Visits']}}</option>
      {% endfor %}
       </select>
    <input class="btn btn-default" type="submit" value="Event Detail">
  </table>
</form>
<div>
    <a href="{{ url_for('go_to_user_type_functionality') }}">Back</a>
</div>
{% endblock %}