{% extends "layout.html" %}
{% block title %} Visitor Transit Detail {% endblock %}
{% block header %} <h4>Visitor Transit Detail </h4> {% endblock %}
{% block content %}
<div>
    <form action="/visitor_log_transit" method="post">
      <p><label>Site:</label>
        <label>{{sname}}</label></p>
      <label>Transport Type</label>
      <select name="transport_type">
        <option value="ALL">ALL</option>
        <option value="MARTA">MARTA</option>
        <option value="Bus">Bus</option>
        <option value="Bike">Bike</option>
      </select>
      <select name="selected_transit" method="GET" action="/">
        {% for item in data %}
          <option value = "{{item['TransitRoute']}},{{item['TransitType']}},{{item['TransitPrice']}}, {{item['CountSites']}}">Route: {{item['TransitRoute']}} Transit Type: {{item['TransitType']}} Transit Price: {{item['TransitPrice']}} # of Connected Sites: {{item['CountSites']}}</option>
      {% endfor %}
       </select>
       <label>Transit Date:</label><input type="date" name="transit_date">
      <p><input class="btn btn-default" type="submit" value="Log Transit"></p>
    </form>
</div>
<div>
    <a href="{{ url_for('visitor_explore_site') }}">Back</a>
</div>
{% endblock %}