{% extends "layout.html" %}
{% block title %} Visitor Transit Detail {% endblock %}
{% block header %} <h4>Visitor Transit Detail </h4> {% endblock %}
{% block content %}
<div>
    <form action="/visitor_log_transit" method="post">
      <p><label>Site:</label>
      <label>Transport Type</label>
      <select name="transport_type">
        <option value="ALL">ALL</option>
        <option value="MARTA">MARTA</option>
        <option value="Bus">Bus</option>
        <option value="Bike">Bike</option>
      </select>
      <table style="width:100%">
        <tr>
          <th>Route</th>
          <th>Transport Type</th>
          <th>Price</th>
          <th>Connected Sites</th>
        </tr>
      </table>
      <p><input class="btn btn-default" type="submit" value="Log Transit"></p>
    </form>
</div>
<div>
    <a href="{{ url_for('visitor_explore_site') }}">Back</a>
</div>
{% endblock %}