{% extends "layout.html" %}
{% block title %} Visitor Transit Detail {% endblock %}
{% block header %} <h4>Visitor Transit Detail </h4> {% endblock %}
{% block content %}
<div>
    <form action="/visitor_log_site_visit" method="post">
        <input type="hidden" id="site_name" name="site_name" value="{{sname}}">
      <p><label>Site:</label>
        <label>{{sname}}</label></p>
      <label>Open Everyday</label>
      <label>{{oed}}</label>
     <p><label>Address</label>
        <label>{{address}}</label></p>
     <label>Visit Date:</label><input type="date" name="visit_date">
      <p><input class="btn btn-default" type="submit" value="Log Visit"></p>
    </form>
</div>
<div>
    <a href="{{ url_for('visitor_explore_site') }}">Back</a>
</div>
{% endblock %}